
@{
    ViewBag.Title = "Index";
}

<div class="content">
    <div class="slider_item-box layout_padding2">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-6">
                    <div class="detail-box">
                        <h1>
                            Mina <br>
                            <span>San Miguel</span>
                        </h1>
                        <p>¡Tu proveedor confiable de materiales de construcción!</p>
                        <p>Somos una empresa dedicada a la extracción y venta de materiales de construcción provenientes de nuestra cantera. 
                        Con más de 20 años en el negocio, nos enorgullecemos de ofrecer productos de alta calidad y un servicio excepcional a nuestros clientes.</p>
                        <p>Con más de 100 empleados comprometidos y una constante actualización tecnológica, nos esforzamos por mantenernos a la vanguardia en la industria 
                        para brindar un servicio óptimo y un ambiente de trabajo cómodo para nuestro equipo.</p>
                        <p>¡Descubre por qué somos una de las mejores minas en el estado de México!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
