
@{
    var trabajadorId = (long)ViewBag.TrabajadorId;
    var nombreCompleto = ViewBag.NombreTrabajador;
}

<link href="~/Assets/css/EstilosBtnCambios/EstiloBtn.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<div class="content">
    <div class="tabla-consultas-roll">
        <div class="rectangulos" style="width: 100%;">
            <h2>Dar de Baja a @nombreCompleto</h2>

        </div>
    </div>
</div>
