@{
    var trabajadorId = (long)ViewBag.TrabajadorId;
}

<input type="hidden" id="trabajadorInput" value="@trabajadorId" readonly />

<div class="row">
    <div class="col-md-6">
        <h4>LISTA DE DOCUMENTOS SOLICITADOS</h4>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered table-striped" id="tblListaDocumentos" style="width: 100%;"></table>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h4>DOCUMENTOS CARGADOS</h4>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered table-striped" id="tblCargarDocumentos" style="width: 100%;"></table>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        // Configuración de DataTable
        $("#tblListaDocumentos").DataTable({
            data: [],
            columns: [
                { data: 'id', title: 'ID' },
                { data: 'nombre', title: 'Nombre' },
                //{
                //    data: "id", title: "Acciones", render: function (data) {
                //        return '<input type="button" value="Editar" class="btn btn-custom-clean" onclick="EditarDocumento(' + data + ')" />' +
                //            ' <input type="button" value="Eliminar" class="btn btn-custom-cancel" onclick="EliminarDocumento(' + data + ')"/>';
                //    }
                //},
            ],
            language: {
                "decimal": ",",
                "thousands": ".",
                "processing": "Procesando...",
                "lengthMenu": "Mostrar _MENU_ entradas",
                "zeroRecords": "No se encontraron resultados",
                "emptyTable": "Ningun dato disponible en esta tabla",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered": "(filtrado de un total de _MAX_ entradas)",
                "search": "Buscar:",
                "loadingRecords": "Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": activar para ordenar la columna de manera ascendente",
                    "sortDescending": ": activar para ordenar la columna de manera descendente"
                }
            }
        });

         GetAllDocumentos();
    });

    // 1. Obtener Lista de Documentos
    function GetAllDocumentos() {
        GetMVC("/Empleado/GetAllDocumentos", function (r) {
            if (r.IsSuccess) {
                MapingPropertiesDataTable("tblListaDocumentos", r.Response);
            } else {
                Swal.fire({
                    title: 'Error',
                    text: 'Error al cargar Documentos: ' + r.ErrorMessage,
                    icon: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    }
</script>