@{
    ViewBag.Title = "TipoVehiculo";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tVehiculo = (MinaTolEntidades.DtoClientes.TipoVehiculo)Model;
}

<link href="@Url.Content("~/Assets/css/EstilosBtnCambios/EstiloBtn.css")" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="@(Url.StaticFile("Scripts/Catalogos/AltaTipoVehiculo.js"))"></script>
<style>
        .btn-success {
            background-color: #28a745; /* Verde para el botón Guardar */
            color: white;
            border: none;
            transition: all 0.3s ease; /* Transición suave para el cambio de tamaño y color */
        }

        .btn-success:hover {
            background-color: #218838; /* Color verde más oscuro al pasar el ratón */
            transform: scale(1.1); /* Aumenta el tamaño del botón */
            color: white; /* Color de texto blanco */
        }

        .btn-custom-cancel {
            background-color: red; /*  para el botón Guardar */
            color: white;
            border: none;
            transition: all 0.3s ease; /* Transición suave para el cambio de tamaño y color */
        }

        .btn-custom-cancel:hover {
            background-color: darkred; /* Color  más oscuro al pasar el ratón */
            transform: scale(1.1); /* Aumenta el tamaño del botón */
            color: white; /* Color de texto blanco */
        }

        .btn-custom-clean {
            background-color: dodgerblue; /*  para el botón Guardar */
            color: white;
            border: none;
            transition: all 0.3s ease; /* Transición suave para el cambio de tamaño y color */
        }

        .btn-custom-clean:hover {
            background-color: deepskyblue; /* Color  más oscuro al pasar el ratón */
            transform: scale(1.1); /* Aumenta el tamaño del botón */
            color: white; /* Color de texto blanco */
        }
</style>

<form id="frmtipovehiculo" name="frmtipovehiculo" method="post" enctype="multipart/form-data">
    <div class="content">
        <br>
        <center><h1>Tipo de vehículo</h1></center>
        <div class="tabla-consultas-tipovehiculo">
            <div class="rectangulos" style="width: 100%;">
                <div class="row align-items-center">
                    <!-- Campo oculto para ID Tipo Vehículo -->
                    <input type="hidden" id="txtidtipovehiculo" name="txtidtipovehiculo" />

                    <div class="col-lg-3">
                        <label for="txtNombre" class="form-label">Nombre del Vehículo:</label>
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" />
                    </div>

                    <div class="col-lg-3">
                        <label>Estatus:</label>
                        <input type="checkbox" name="chbEstatus" id="chbEstatus" value="" class="form-control" />
                    </div>

                    <div class="col-lg-3">
                        <label for="txtCapacidad" class="form-label">Capacidad:</label>
                        <input type="number" id="txtCapacidad" name="txtCapacidad" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9">
                        <label>Descripción:</label>
                        <textarea type="text" id="txtDescripcion" name="Descripcion" rows="6" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input href="/Catalog/Roll" type="button" value="Guardar" onclick="SaveOrUpdateTipoVehiculo()" class="btn btn-success" />
                        <a href="/Catalog/TipoVehiculo" class="btn btn-custom-cancel">Cancelar</a>
                    </div>
                </div>


                <input type="hidden" id="txtCreatedDt" name="CreatedDt" value="@DateTime.Now" />
            </div>
        </div>


        <br />

        <table id="tblTipoVehiculo" class="display" style="width:100%;">
        </table>

    </div>

</form>
<script>
    var tVehiculoJson = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(tVehiculo))');
</script>