
@{
    ViewBag.Title = "UnidadMedida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Assets/css/dataTables.dataTables.min.css" rel="stylesheet" />
<script src="~/Assets/js/dataTables.min.js"></script>


<div class="col-ml-12">
    <table class="table table-bordered table-striped" id="tableUnidadMedida" style="width: 100%;"></table>
</div>

<script src="~/Scripts/Catalogos/UnidadMedida.js"></script>