@model MinaTolEntidades.DtoVentas.PV_Ventas
@{
    ViewBag.Title = "PV_Precios";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formasPago = (List<string>)ViewBag.FormasPago;
    var unidadesMedida = (List<MinaTolEntidades.DtoSucursales.UnidadMedida>)ViewBag.UnidadMedida;
    var usuarioToken = (MinaTolEntidades.Security.TokenCookie)ViewBag.UserToken;

}
<link href="@Url.Content("~/Assets/css/EstilosBtnCambios/EstiloBtn.css")" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="~/Scripts/Catalogos/AltaRoll.js"></script>
<style>
    .btn-success {
        background-color: #28a745; /* Verde para el botón Guardar */
        color: white;
        border: none;
        transition: all 0.3s ease; /* Transición suave para el cambio de tamaño y color */
    }

        .btn-success:hover {
            background-color: #218838; /* Color verde más oscuro al pasar el ratón */
            transform: scale(1.3); /* Aumenta el tamaño del botón */
            color: white; /* Color de texto blanco */
        }

    .btn-custom-cancel {
        background-color: red; /*  para el botón Guardar */
        color: white;
        border: none;
        transition: all 0.3s ease; /* Transición suave para el cambio de tamaño y color */
    }

        .btn-custom-cancel:hover {
            background-color: darkred; /* Color  más oscuro al pasar el ratón */
            transform: scale(1.3); /* Aumenta el tamaño del botón */
            color: white; /* Color de texto blanco */
        }

    .btn-custom-clean {
        background-color: dodgerblue; /*  para el botón Guardar */
        color: white;
        border: none;
        transition: all 0.3s ease; /* Transición suave para el cambio de tamaño y color */
    }

        .btn-custom-clean:hover {
            background-color: deepskyblue; /* Color  más oscuro al pasar el ratón */
            transform: scale(1.3); /* Aumenta el tamaño del botón */
            color: white; /* Color de texto blanco */
        }
</style>

<form id="frmroll" name="frmroll" method="post" enctype="multipart/form-data">
    <div class="content">
        <br>
        <center><h1>Precios</h1></center>
        <div class="tabla-consultas-roll">
            <div class="rectangulos" style="width: 100%;">
                <div class="row">
                    <div class="col-lg-3">
                        <label>ID Precio:</label>
                        <input type="text" id="txtidprecio" name="idprecio" class="form-control" disabled />
                    </div>
                    <div class="col-lg-3">
                        <label>Precio Actual:</label>
                        <input type="number" id="txtPrecioActual" name="txtPrecioActual" class="form-control" />
                    </div>
                    <div class="col-lg-3">
                        <label for="txtPrecioActivo">¿Es Precio Activo?</label>
                        <select id="txtPrecioActivo" name="txtPrecioActivo" class="form-control">
                            <option value="true">Sí</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label for="txtPrecioActivo">MaterialID</label>
                        <select id="txtMaterialID" name="MaterialID" class="form-control">
                            <option value="true">Sí</option>
                            <option value="false">No</option>
                        </select>
                    </div>

                    <div class="col-lg-3">
                        <label>MayoreoMenudeo:</label>
                        <input type="number" id="txtMayoreoMenudeo" name="txtMayoreoMenudeo" class="form-control" />
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-12">
                        <input href="/VentaPublicoGeneral/Precios" type="button" value="Guardar" onclick="SaveOrUpdatePV_Precio()" class="btn btn-success" />
                        <a href="/VentaPublicoGeneral/Precios" class="btn btn-custom-cancel">Cancelar</a>

                    </div>
                </div>


            </div>
        </div>

        <br />
        <input type="hidden" id="txtCreatedDt" name="CreatedDt" value="@DateTime.Now" />
        <table id="tblRoll" class="table table-bordered table-striped" style="width: 100%;"></table>

    </div>

</form>
<script src="@(Url.StaticFile("Scripts/VentaPublicoGeneral/Precio.js"))"></script>