
@{
    ViewBag.Title = "VentaPorPlanta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Assets/css/EstilosBtnCambios/EstiloBtn.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<!-- En el head de tu HTML -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

<div class="content">
    <div class="rectangulos" style="width: 100%;">
        <center><h1>Venta por Fecha para Planta Individual</h1></center>
        <div class="row align-items-end">
            @* FILTRADO POR FECHA *@
            <div class="col-auto">
                <label for="fechaFiltro" class="form-label">Fecha:</label>
                <input type="date" id="fechaFiltro" name="fechaFiltro" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            </div>

            <div class="col-auto">
                <input id="btnFiltrar" type="button" value="Buscar" class="btn btn-custom-clean" style="margin-top: -30px" />
                <a href="/VentaPublicoGeneral/VentaPorPlanta" class="btn btn-custom-cancel" style="margin-top: -30px; margin-left: 10px">Cancelar</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-striped" id="tableVentaPlanta" style="width: 100%;"></table>
        </div>
    </div>
</div>
<div style="height: 300px;">
</div>
<script src="@(Url.StaticFile("Scripts/VentaPublicoGeneral/VentaPlanta.js"))"></script>
<script>
    window.addEventListener('DOMContentLoaded', () => {
        const now = new Date();
        const fechaInput = document.getElementById('fecha');

        // Formatea la fecha a YYYY-MM-DD
        const year = now.getFullYear();
        const month = String(now.getMonth() + 1).padStart(2, '0');
        const day = String(now.getDate()).padStart(2, '0');

        const formattedDate = `${year}-${month}-${day}`;
        fechaInput.value = formattedDate;
    });
</script>
