
@{
    ViewBag.Title = "InventarioPiezasNoUtilizadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Assets/css/EstilosBtnCambios/EstiloBtn.css" rel="stylesheet" />

<div class="content">
    <br />
    <center><h1>Inventario de Piezas No Reutilizables</h1></center>
    <br />
    <table id="tblPiezasRetiradas" class="table table-bordered table-striped" style="width: 100%;"></table>
    <br />
    <div class="mb-2" style="text-align: left;">
        <button id="btnGenerarPDF" style="background-color: #28a745; color: white; border: none; padding: 8px 16px; border-radius: 4px; cursor: pointer; margin-top: 10px; width: 150px;">
            Generar Reporte PDF
        </button>
        <button id="btnGenerarExcel" style="background-color: #28a745; color: white; border: none; padding: 8px 16px; border-radius: 4px; cursor: pointer; margin-top: 10px; width: 150px;">
            Generar Reporte Excel
        </button>
    </div>
</div>

<script src="@(Url.StaticFile("Scripts/Taller/InventarioPiezasNoReutilizables.js"))"></script>