@model MinaTolEntidades.DtoTaller.ReparacionVehiculos
@{
    ViewBag.Title = "ReparacionVehiculos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/css/EstilosBtnCambios/EstiloBtn.css" rel="stylesheet" />

<div class="content">

</div>

