<body>
    <!-- Título principal -->
    <div class="container mt-4">
        <h2>Agregar Materiales</h2>
        <div class="row">

        </div>

        <!-- Tabla DataTable -->
        <div class="row mt-4">
            <div class="col-md-8">
                <table id="materialesTable" class="table" style="width:100%;" />
            </div>
        </div>
    </div>

    <input id="btnAñadir" type="button" onclick="AñadirMaterial()" value="Añadir Materiales" class="btn btn-success" />

    <!-- Scripts requeridos -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css" />

    <!-- Configuración del DataTable en español -->
    <script>
    </script>
</body>
